<html>
<head>

<title>UNIVERSE OF DISAPPOINTMENT!</title>
<meta name="google-site-verification" 
content="NzQsqy9h7dRYIey_mF2Y0uq7qUfseN5XmWEYbwBUj6g" />
<style>
body{
	background-color:orchid;
	animation-name:animation;
	animation-duration:60s;
	text-align:center;
	text-size:100px;
}
@keyframes animation{
	0%{background-color:white;}
	10%{background-color:yellow;}
	20%{background-color:blue;}
	30%{background-color:green;}
	40%{background-color:red;}
	50%{background-color:cyan;}
	60%(background-color:violet;}
	70%{background-color:fuchsia;}
	80%{background-color:magneta;}
	90%{background-color:orchid;}
}

</style>

<body>
<i><b>WELCOME</b></i>
</body>
</html>
